body {
  font-family: 'Recursive',
  sans-serif;
  font-family: 'Righteous',
  cursive;
  background-color: #FB6B6B;
}

* {
  box-sizing: border-box;
}


/* Home Page */

.home-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: #FB6B6B;
}

.home-page h1 {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  color: #FFFFFF;
}

.home-page img {
  width: 55px;
  height: 65px;
  margin-bottom: 10px;
}

* button {
  cursor: pointer
}

.home-page button {
  width: 141px;
  height: 31px;
  background: #FFFFFF;
  border: 1px solid #D70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-top: 73px;
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color:#D70900;
}

/* Header */

header {
  display: flex;
  justify-content: center;
  margin-top: 19px;
}

header img {
  width: 26px;
  height: 30px;
  margin-right: 7px;
}

header h1 {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.012em;
  color: #FFFFFF;
}


/* Flash Cards Questions List*/

.flash-card {
  height: 40px;
  width: 182px;
  background: #FFFFFF;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
}

.flash-card p {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
}

.flash-card ion-icon {
  width: 13px;
  height: 15px;
  cursor: pointer;
}

.flash-cards .flash-card:first-child {
  margin-top: 37px;
}

.flash-cards .flash-card:nth-child(-n+7) {
  margin-bottom: 5px;
}

.flash-cards .flash-card:last-child {
  margin-bottom: 21px;
}

/* Flash Cards Question  */

.flash-card-question {
  height: 80px;
  width: 182px;
  background: #FFFFD4;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  transition: all .5s;
  transform-style: preserve-3d;
}

.flash-cards .flash-card-question:first-child {
  margin-top: 37px;
}

.flash-cards .flash-card-question:nth-child(-n+7) {
  margin-bottom: 14px;
}

.flash-cards .flash-card-question:last-child {
  margin-bottom: 21px;
}

.flash-card-question p {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  position: absolute;
  top: 0;
  left: 0;
  margin: 13px 0 0 6px;
} 

.flash-card-question img {
  width: 20px;
  height: 13px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 8px 7px 0;
  cursor: pointer;
}

/* Flash Card Answer  */

.flash-card-answer {
  min-height: 80px;
  width: 182px;
  background: #FFFFD4;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .5s;
  transform-style: preserve-3d;
}

.flash-cards .flash-card-answer:first-child {
  margin-top: 37px;
}

.flash-cards .flash-card-answer:nth-child(-n+7) {
  margin-bottom: 14px;
}

.flash-cards .flash-card-answer:last-child {
  margin-bottom: 21px;
}


.flash-card-answer p {
  text-align: left;
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  margin: 13px 12px 12px 6px;
  word-break: break-word;
}

.buttons-answer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3px;
  
}

.buttons-answer>.nao-lembrei {
  text-align: center;
  width: 55px;
  height: 24px;
  background: #FF3030;
  border-radius: 5px;
  border: none;
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  font-size: 7px;
  line-height: 8px;
  color: #FFFFFF;

}

.buttons-answer>.quase-lembrei {
  text-align: center;
  width: 55px;
  height: 24px;
  background: #FF922E;
  border-radius: 5px;
  border: none;
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  font-size: 7px;
  line-height: 8px;
  color: #FFFFFF;
}

.buttons-answer>.zap {
  text-align: center;
  width: 55px;
  height: 24px;
  background: #2FBE34;
  border-radius: 5px;
  border: none;
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  font-size: 7px;
  line-height: 8px;
  color: #FFFFFF;
}


/* Flash Card Answered */

.flash-card-answered {
  height: 40px;
  width: 182px;
  background: #FFFFFF;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
}

.flash-card-answered p {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
}

.flash-card-answered-answered ion-icon {
  width: 13px;
  height: 15px;
  cursor: pointer;
}

.flash-cards .flash-card-answered:first-child {
  margin-top: 37px;
}

.flash-cards .flash-card-answered:nth-child(-n+7) {
  margin-bottom: 5px;
}

.flash-cards .flash-card-answered:last-child {
  margin-bottom: 21px;
}

.flash-card-answered.nao-lembrei p {
  text-decoration-line: line-through;
  color: #FF3030;
}

.flash-card-answered.nao-lembrei ion-icon {
  color: #FF3030;
}

.flash-card-answered.quase-lembrei p {
  text-decoration-line: line-through;
  color: #FF922E;
}

.flash-card-answered.quase-lembrei ion-icon {
  color: #FF922E;
}

.flash-card-answered.zap p {
  text-decoration-line: line-through;
  color: #2FBE34;
}

.flash-card-answered.zap ion-icon {
  color: #2FBE34;
}

/* Footer */

footer {
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:center;
  background: #FFFFFF;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer p {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  margin-bottom: 5px;
}


.icons-answer #nao-lembrei {
  color: #FF3030;
}


.icons-answer #zap {
  color: #2FBE34;
}


.icons-answer #quase-lembrei {
  color: #FF922E;
}

/* Others */

/* .front-face {
  transform: rotateY(-180deg);
}

.back-face {
  transform: rotateY(0deg);
} */
